<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhanalaxmi Bank</title>
</head>
<body>
   <nav class="nav">
  <ul style="float: right;">
    {% if user.is_authenticated %}
      <li>Hello, {{ user.username }}!</li>
      <!-- <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'create' %}">Register</a></li>
    {% endif %}
  </ul> -->
</nav>
</body>
</html>